.logo{
	height:60px;
	width:auto;
}

body{
	margin:0;
}

nav ul{
	display:inline;
}

nav ul li{
	display:inline-block;
}

h1{
	text-align: center;
	font-family:Lora;
}

.col-8{
	margin-top: 15%;
}

.input-group{
	width:50%;
	margin-left:25.0%;

}

.jumbotron-about{
	background:maroon;
	color:white;
	text-align:center;
	margin-left:10%;
	margin-right: 10%;
	border-radius: 7px;

}

.jumbotron-primary{
	background:maroon;
	color:white;
	text-align:center;
	margin-bottom:0;
}

.jumbotron-search{
	background:white;
	color:black;
	text-align:center;
	margin-bottom:0;
	margin-left:0px;
	border-style: outset;
	border-color:maroon;
}

.jumbotron-secondary{
	background:#ce954b;
	color:white;
	text-align:center;
	margin-bottom:0;
}

.jumbotron-faq{

	border-radius: 10px;
	margin-left:1%;
	margin-right:1%;
	width:98%;
	background-color:maroon;
	color:white;
}

.jumbotron-index{
	margin-top:0px;
	background:maroon;
	border-radius:20px;
	width:90%;
	height:60%;
}


img{
	height:max-height;
	width:auto; 

}

.img-jumbotron{
	margin:0;
	height:300px;
	width:auto;
}

/*SEARCHBOXES*/

.top-line{
	border-bottom:ridge;
	border-width:1px;
	border-color:lightgray;
	margin-bottom:0px;
}

.searchboxes{
	margin-top:0px;
	border-bottom:ridge;
	border-right:ridge;
	border-color:lightgray;
	border-width: 1px;
}

.img-searchboxes{
	height:auto;
	width:200px;
}

.input-search-page{
	margin-left:2%;
	margin-bottom:5%;
}

.image-vendor{
	width:125px;
	height:auto;
}

.image-vendor-index{
	width:20%;
	height:auto;
	margin-top:0px;
	margin-left:2%;
}

.image-vendor-index-following{
	width:20%;
	height:auto;
	margin-right:2%;
	margin-top:0px;
	margin-left:2%;
}

/*FOR ICONS*/
.fa{

	margin-left: 20px;
	margin-right:20px;
}

.a-nav{
	color:white;
}


/*FOOTERS*/
.row-footer{
	background-color:maroon; 
	color:white;
	padding: 10px 10px;
}

.row-footer-faq{
	background-color:maroon; 
	color:white;
	padding: 10px 10px;
	margin-left,margin-right:1%;
}

.links{
	color:white;
}


/*FOR PAGINATION*/